<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="osucatch_editor_realtimeviewer.app" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <osucatch_editor_realtimeviewer.app>
            <setting name="Window_Width" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="Window_Height" serializeAs="String">
                <value>750</value>
            </setting>
            <setting name="osu_path" serializeAs="String">
                <value />
            </setting>
            <setting name="Backup_Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Backup_Folder" serializeAs="String">
                <value />
            </setting>
            <setting name="Backup_Interval" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="Idle_Interval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Drawing_Interval" serializeAs="String">
                <value>20</value>
            </setting>
        </osucatch_editor_realtimeviewer.app>
    </userSettings>
</configuration>