<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="osucatch_editor_realtimeviewer.app" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <osucatch_editor_realtimeviewer.app>
            <setting name="Window_Width" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="Window_Height" serializeAs="String">
                <value>750</value>
            </setting>
            <setting name="osu_path" serializeAs="String">
                <value />
            </setting>
            <setting name="Backup_Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Backup_Folder" serializeAs="String">
                <value />
            </setting>
            <setting name="Backup_Interval" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="Idle_Interval" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="Drawing_Interval" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Combo_Colour" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Show_Console" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Log_Program" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Log_EditorReader" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Log_BeatmapConverter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Log_Drawing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Log_Backup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Log_Timer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Log_Level" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Log_BeatmapBuilder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimingLine_ShowRed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimingLine_ShowGreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BarLine_Show" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScreensContain" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Selected_Show" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Language_String" serializeAs="String">
                <value />
            </setting>
            <setting name="FilterNearbyHitObjects" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WorkCancelAfter" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="Window_X" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Window_Y" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Window_Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Color_HitObject_Label" serializeAs="String">
                <value>LightBlue</value>
            </setting>
            <setting name="Auto_Topmost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Bookmark_FolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Bookmark_AutoLoadSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Bookmark_AutoLoadWithStyle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Bookmark_LineStyle_1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Bookmark_LineStyle_2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Bookmark_LineStyle_3" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Bookmark_LineStyle_4" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Bookmark_LineStyle_5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bookmark_LineStyle_6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bookmark_LineStyle_7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bookmark_LineStyle_8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bookmark_Width_1" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Bookmark_Width_2" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Bookmark_Width_3" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Bookmark_Width_4" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Bookmark_Width_5" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Bookmark_Width_6" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Bookmark_Width_7" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Bookmark_Width_8" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Bookmark_Color_1" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Bookmark_Color_2" serializeAs="String">
                <value>Pink</value>
            </setting>
            <setting name="Bookmark_Color_3" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="Bookmark_Color_4" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Bookmark_Color_5" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="Bookmark_Color_6" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="Bookmark_Color_7" serializeAs="String">
                <value>Aqua</value>
            </setting>
            <setting name="Bookmark_Color_8" serializeAs="String">
                <value>Purple</value>
            </setting>
            <setting name="Bookmark_Comment_1" serializeAs="String">
                <value>HyperDash</value>
            </setting>
            <setting name="Bookmark_Comment_2" serializeAs="String">
                <value>Dash</value>
            </setting>
            <setting name="Bookmark_Comment_3" serializeAs="String">
                <value>AntiFlow</value>
            </setting>
            <setting name="Bookmark_Comment_4" serializeAs="String">
                <value>Move</value>
            </setting>
            <setting name="Bookmark_Comment_5" serializeAs="String">
                <value>Type 5</value>
            </setting>
            <setting name="Bookmark_Comment_6" serializeAs="String">
                <value>Type 6</value>
            </setting>
            <setting name="Bookmark_Comment_7" serializeAs="String">
                <value>Type 7</value>
            </setting>
            <setting name="Bookmark_Comment_8" serializeAs="String">
                <value>Type 8</value>
            </setting>
            <setting name="Log_Bookmark" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Bookmark_RegisterHotKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Show_CubicFittingCurve" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Use_Stable_Converter" serializeAs="String">
                <value>False</value>
            </setting>
        </osucatch_editor_realtimeviewer.app>
    </userSettings>
</configuration>