<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="osucatch_editor_realtimeviewer.app" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <osucatch_editor_realtimeviewer.app>
            <setting name="Window_Width" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="Window_Height" serializeAs="String">
                <value>750</value>
            </setting>
            <setting name="osu_path" serializeAs="String">
                <value />
            </setting>
            <setting name="Backup_Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Backup_Folder" serializeAs="String">
                <value />
            </setting>
            <setting name="Backup_Interval" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="Idle_Interval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Drawing_Interval" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Combo_Colour" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Show_Console" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Log_Program" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Log_EditorReader" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Log_BeatmapConverter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Log_Drawing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Log_Backup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Log_Timer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Log_Level" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Log_BeatmapBuilder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimingLine_ShowRed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimingLine_ShowGreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BarLine_Show" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScreensContain" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Selected_Show" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Language_String" serializeAs="String">
                <value />
            </setting>
            <setting name="FilterNearbyHitObjects" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WorkCancelAfter" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="Window_X" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Window_Y" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Window_Maximized" serializeAs="String">
                <value>False</value>
            </setting>
        </osucatch_editor_realtimeviewer.app>
    </userSettings>
</configuration>